/* Estilo padrão (tema claro) */
body.light {
  background-color: #fff; /* Define a cor de fundo para o tema claro */
  color: #000; /* Define a cor do texto para o tema claro */
}

body.dark {
  background-color: #333; /* Define a cor de fundo para o tema escuro */
  color: #fff; /* Define a cor do texto para o tema escuro */
}

html, body {
  height: 100%; /* Define a altura de 100% para html e body */
  margin: 0; /* Remove margens padrão */
  display: flex; /* Usa flexbox para centralizar conteúdo */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
}

.app-container {
  max-width: 350px; /* Define a largura máxima do contêiner */
  padding: 50px 20px; /* Define padding interno */
  box-sizing: border-box; /* Inclui padding e borda na largura total */
}

.form-group {
  margin-bottom: 15px; /* Espaçamento inferior entre grupos de formulário */
  position: relative; /* Define posição relativa para posicionamento interno */
}

.logo {
  max-width: 100%; /* Largura máxima da imagem do logo */
  height: auto; /* Mantém a proporção da altura da imagem */
  margin-bottom: 20px; /* Espaçamento inferior da imagem */
  margin-left: 10px; /* Espaçamento à esquerda da imagem */
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%; /* Largura total dos campos de entrada */
  margin-bottom: 10px; /* Espaçamento inferior entre campos */
  padding: 10px; /* Padding interno dos campos */
  border: 1px solid #ccc; /* Borda dos campos */
  border-radius: 20px; /* Borda arredondada dos campos */
  box-sizing: border-box; /* Inclui padding e borda na largura total */
}

body.dark .form-group input[type="text"],
body.dark .form-group input[type="password"] {
  border: 1px solid #000000; /* Borda dos campos no tema escuro */
  background-color: #000000; /* Cor de fundo dos campos no tema escuro */
  color: #fff; /* Cor do texto dos campos no tema escuro */
}

.form-group button {
  width: 50%; /* Define a largura do botão em 50% */
  padding: 10px; /* Padding interno do botão */
  background-color: #007bff; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none; /* Remove a borda padrão do botão */
  border-radius: 20px; /* Borda arredondada do botão */
  cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
  box-sizing: border-box; /* Inclui padding e borda na largura total */
}

.form-group button:hover {
  background-color: #79baff;
}

.buttons-group {
  display: flex; /* Usa flexbox para alinhar os botões */
  align-items: center; /* Alinha os botões verticalmente */
  justify-content: center; /* Centraliza os botões horizontalmente */
}

.theme-toggle-button {
  padding: 10px; /* Padding interno do botão de alternância de tema */
  background-color: transparent; /* Fundo transparente do botão */
  border: none; /* Remove a borda padrão do botão */
  cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
  font-size: 24px; /* Tamanho da fonte do ícone */
  color: inherit; /* Herda a cor do texto atual */
  position: fixed; /* Posiciona fixamente o botão */
  bottom: 10px; /* Posiciona a 10px do fundo */
  right: 10px; /* Posiciona a 10px da direita */
}
.theme-toggle-button:hover {
  color: #007bff; /* Cor do ícone ao passar o mouse */
}